# Ignore Gradle project-specific cache directory
.gradle
.idea
gradle
gradle.properties

# Ignore Gradle build output directory
build
bin

# Ignore maven build output
target

# Ignore other IDEs files
.vscode

# MacOS
.DS_Store

# directory used for API break checks
/.palantir/
